@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="best_p_n=w12Xh9_s3_link"] {
	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	.mui_title {
		.title_main {
			margin-bottom: 29px;
		}
	}

	.mui_inner {
		position: relative;

		// 전체보기
		.btn_link {
			position: absolute;
			top: -48px;
			right: 2px;
			@include mixin.font(#4a4a4a '1.5rem');

			&::before {
				position: absolute;
				top: -20px;
				right: -20px;
				bottom: -20px;
				left: -20px;
				content: '';
			}

			.uico_link {
				margin: 2px 0 0 9px;

				&::before {
					width: 6px;
					height: 9px;
					@include mixin.svg(#7b7b7b url('../image/block/common/ico_arrow_thick_round_right.svg'));
				}
			}
		}
	}

	.mui_product-list {
		> ul {
			display: grid;
			grid-template-columns: repeat(3, 432px);
			column-gap: 32px;

			&::after {
				content: none;
			}
		}
	}
}