@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="new_p_n=w12Xh10_s3_link"] {
	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	.mui_product-list {
		> ul {
			display: grid;
			grid-template-columns: repeat(3, 432px);
			column-gap: 32px;

			&::after {
				content: none;
			}
		}
	}

	.btn_link {
		display: block;
		margin: 54px auto 0;
		width: 174px;
		height: 46px;
		border: 1px solid #6a6a6a;
		border-radius: 23px;
		@include mixin.font(#5c5c5c '1.5rem/4.6rem' center);

		.uico_link {
			margin: 17px 0 0 10px;

			&::before {
				width: 6px;
				height: 11px;
				@include mixin.svg(#6a6a6a url('../image/block/common/ico_arrow_right.svg'));
			}
		}
	}
}