@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="best_p_n=w6Xh12_s4"] {
	.mui_product-list {
		padding: 0 14px;

		> ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 26px 12px;

			> li {
				min-width: 0;
			}

			&::after {
				content: none;
			}
		}
	}
}