@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/var';

/**
 * 블록
 * 배너
**/


[data-mui="best_p_n=w6Xh14_s4_link"] {
	.mui_title {
		.title_main {
			margin-bottom: 16px;
		}
	}

	.mui_inner {
		position: relative;

		// 전체보기
		.btn_link {
			position: absolute;
			top: -31px;
			right: 20px;
			@include mixin.font(#7b7b7b '1.3rem');

			&::before {
				position: absolute;
				top: -10px;
				right: -10px;
				bottom: -10px;
				left: -10px;
				content: '';
			}

			.uico_link {
				margin: 3px 0 0 4px;

				&::before {
					width: 5px;
					height: 7px;
					@include mixin.svg(#7b7b7b url('../../image/block/common/ico_arrow_thick_round_right.svg'));
				}
			}
		}
	}

	.mui_product-list {
		padding: 0 14px;

		> ul {
			> li:nth-child(n+2) {
				margin-top: 8px;
			}
		}
	}

	.mui_product-item {
		figure {
			.image_product {
				position: relative;
				padding-top: 0;
				width: 54.02298%;

				&::after {
					padding-top: var.$prod_height_base;
					content: '';
				}
			}

			figcaption {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				margin: 0 0 0 54.02298%;
				padding: 3px 15px 0 12px;

				> *:first-child {
					margin-top: 0;
					padding-top: 0;
				}

				.text_sale {
					right: 0;
				}

				.mui_product-item-react {
					.text_like {
						.uico_like::before {
							margin-top: 1px;
						}
					}
				}
			}
		}

		// MY찜에추가하기
		.btn_like {
			top: auto;
			right: 54.02298%;
			bottom: 0;
			margin-top: 0;
			@include mixin.transform(translate(100%, 0));
		}

		// soldout
		.text_soldout {
			width: 54.02298%;
		}

		// 미성년자 구매불가
		.text_adult {
			width: 54.02298%;
			padding-top: 0;

			&::after {
				padding-top: var.$prod_height_base;
				content: '';
			}
		}
	}
}