@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_c=w6Xh9_s1_pager"] {
	width: const.$grid_pc_column * 6 + const.$grid_pc_column_gutter * (6 - 1);

	> .mui_container {
		height: const.$grid_pc_row * 9 + const.$grid_pc_row_gutter * (9 - 1);
	}

	.mui_carousel {
		&-list {
			padding-top: const.$grid_pc_row * 9 + const.$grid_pc_row_gutter * (9 - 1);
		}

		&-pagination {
			bottom: -10px;
			@include mixin.transform(translate(-50%, 100%));
		}

		&-count {
			left: 540px;
			bottom: 20px;
			padding-right: 17px;
			@include mixin.font(#fff v_300 '1.8rem/1.4' center);
			mix-blend-mode: difference;
			@include mixin.transform(translateX(-100%));

			i,
			.text_carousel-total {
				color: #cdcdcd;
				@include mixin.opacity(1);
			}
		}
	}

	a {
		display: block;
		position: relative;
	}

	figure {
		.image_banner {
			padding-top: const.$grid_pc_row * 9 + const.$grid_pc_row_gutter * (9 - 1);
			width: 100%;
		}

		figcaption {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			padding: 34px 40px;
			width: 540px;
			height: 150px;
			background-color: rgba(#2b2b2b, 0.8);
			color: #fff;

			&#{escape('.T=text-black')} {
				background-color: rgba(#fff, 0.8);
				color: const.$color_text_base;
			}

			.text_banner1 {
				@include mixin.font('3rem/3.4rem');

				+ .text_banner2 {
					margin-top: 9px;
				}
			}

			.text_banner2 {
				@include mixin.font('2.3rem/2.7rem');
				@include mixin.opacity(0.5);
			}

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem');

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			background-color: #f5f5f5;
		}
	}
}