@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_n=w12Xh3_s1_1"] {
	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	a {
		display: block;
		position: relative;
	}

	figure {
		.image_banner {
			padding-top: const.$grid_pc_row * 3 + const.$grid_pc_row_gutter * (3 - 1);
			width: 100%;
		}

		figcaption {
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 0;
			left: 0;
			padding: 0 120px;
			@include mixin.font(#fff '3rem/1.4');
			@include mixin.transform(translateY(-50%));

			&#{escape('.T=text-black')} {
				color: const.$color_text_base;
			}

			.text_banner2 {
				font-size: 2rem;
			}

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem' center);

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			background-color: #f5f5f5;
		}
	}
}