@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="bp_cs=w12Xh13_s7"] {
	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	// 배너
	.mui_carousel {
		&-list {
			padding-top: const.$grid_pc_row * 7 + const.$grid_pc_row_gutter * (7 - 1);
		}

		&-item {
			a {
				display: block;
				position: relative;

				figure {
					.image_banner {
						padding-top: const.$grid_pc_row * 7 + const.$grid_pc_row_gutter * (7 - 1);
						width: 100%;
					}

					figcaption {
						position: absolute;
						z-index: 1;
						bottom: 0;
						left: 0;
						padding: 40px;
						width: 660px;
						height: 187px;
						background-color: #fff;
						color: #000;

						.text_banner1,
						.text_banner2 {
							@include mixin.font('3rem/3.8rem');

							+ .text_banner3,
							+ .text_banner4 {
								padding-top: 14px;
							}
						}

						.text_banner1 {
							+ .text_banner2 {
								padding-top: 1px;
							}
						}

						.text_banner3,
						.text_banner4 {
							@include mixin.font('1.7rem/2.5rem');
						}

						.text_alt {
							@include mixin.text_ellipsis(2);
							@include mixin.font(#a3a3a3 '1.4rem/2rem');

							@include mixin.context-after(':not(.mui_image-none)', 'figure') {
								display: none;
							}
						}
					}
				}

				// 이미지 에러
				.mui_image-none {
					.uico_none {
						background-color: #f5f5f5;
					}
				}
			}
		}

		&-control {
			width: 1360px;

			button {
				padding: 24px;
				@include mixin.prefix(filter, drop-shadow(0 0 4px rgba(#000, 0.16)), (webkit));

				&:hover {
					@include mixin.prefix(filter, drop-shadow(0 0 4px rgba(#000, 0.34)), (webkit));

					i::before {
						background-color: #3d3d3d;
					}
				}

				> i {
					&::before {
						width: 22px;
						height: 51px;
						background-color: rgba(#fff, 0.65);
					}

					&.uico_control-prev::before {
						@include mixin.svg(url('../image/block/common/ico_arrow_sharp_left.svg'));
					}

					&.uico_control-next::before {
						@include mixin.svg(url('../image/block/common/ico_arrow_sharp_right.svg'));
					}
				}
			}
		}
	}

	// 상품
	> .mui_product-list {
		margin-top: 34px;

		.mui_slider {
			overflow: hidden;
			position: relative;
			padding: 0 46px;

			&-inner {
				overflow: hidden;
				margin: 0 -8px;
			}

			&-list {
				display: inline-block;
				@include mixin.font('0', nowrap);
			}

			&-item {
				display: inline-block;
				padding: 0 10px;
				width: 194px + 20px;// 상품사이즈 + 여백
				white-space: normal;
			}

			&-control {
				button {
					position: absolute;
					z-index: 3;
					top: 50%;
					margin-top: 5px;
					@include mixin.transform(translateY(-50%));
				}

				.btn_slider-prev {
					left: 0;

					i::before {
						width: 19px;
						height: 36px;
						@include mixin.svg(#888 url('../image/block/common/ico_arrow_thin_left.svg'));
					}
				}

				.btn_slider-next {
					right: 0;

					i::before {
						width: 19px;
						height: 36px;
						@include mixin.svg(#888 url('../image/block/common/ico_arrow_thin_right.svg'));
					}
				}
			}
		}
	}
}