@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="p_c=w12Xh6_s6"] {
	$prod_size: 206px;

	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	.mui_carousel {
		&-pagination {
			bottom: -50px;

			li:nth-child(n+2) {
				margin-left: 10px;
			}

			button {
				width: 6px;
				height: 6px;
				border-radius: 3px;
				background-color: #dcdcdc;
				@include mixin.transition(width const.$time_fast, opacity const.$time_fast);

				&#{escape('.S=on')} {
					width: 66px;
					background-color: #2b2b2b;
				}
			}
		}
	}

	.mui_product-list {
		> ul {
			display: grid;
			grid-template-columns: repeat(3, 453.33333px);
			row-gap: 34px;

			&::after {
				content: none;
			}
		}
	}

	.mui_product-item {
		figure {
			.mui_image-scale {
				position: absolute;
				top: 0;
				left: 0;

				.image_product {
					width: $prod_size;
				}
			}

			// 품절임박
			.text_product-status {
				top: calc($prod_size * const.$prod_ratio_base);
			}

			// 솔드아웃
			.text_soldout {
				right: auto;
				width: $prod_size;
			}

			// 미성년자 구매불가
			.text_adult {
				right: auto;
				padding-top: 0;
				width: $prod_size;
				height: calc($prod_size * const.$prod_ratio_base);
			}

			figcaption {
				margin: 0 0 0 $prod_size;
				padding: 4px 50px 0 14px;
				min-height: calc($prod_size * const.$prod_ratio_base);

				.text_product {
					margin-top: 7px;
				}

				.text_sale {
					right: 51px;
				}
			}
		}

		// MY찜에추가하기
		.btn_like {
			top: calc($prod_size * const.$prod_ratio_base);
			right: auto;
			left: $prod_size;
			margin: 0;
			@include mixin.transform(translate(-100%, -100%));
		}
	}
}