@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="p_n=w12Xh21_s13_link"] {
	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	.mui_inner {
		position: relative;

		// 전체보기
		.btn_link {
			position: absolute;
			top: -47px;
			right: 2px;
			@include mixin.font(#4a4a4a '1.5rem');

			&::before {
				position: absolute;
				top: -20px;
				right: -20px;
				bottom: -20px;
				left: -20px;
				content: '';
			}

			.uico_link {
				margin: 2px 0 0 9px;

				&::before {
					width: 6px;
					height: 9px;
					@include mixin.svg(#7b7b7b url('../image/block/common/ico_arrow_thick_round_right.svg'));
				}
			}
		}
	}

	.mui_product-list {
		display: inline-block;

		> ul {
			margin: -54px 0 0 -20px;

			> li {
				float: left;
				margin: 54px 0 0 20px;
				width: 256px;

				&:nth-child(-n+3) {
					width: 432px;

					&:not(:first-child) {
						margin-left: 32px;
					}
				}
			}
		}
	}
}