@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="p_s=w12Xh9_s10"] {
	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	> .mui_container {
		height: const.$grid_pc_row * 9 + const.$grid_pc_row_gutter * (9 - 1);
	}

	.mui_slider {
		overflow: hidden;
		position: relative;
		padding-left: 214px;

		+.mui_slider{
			margin-top: 81px;
		}

		// 디자인 타이틀
		.mui_title#{escape('.T=design')} {
			position: absolute;
			top: 26px;
			left: 0;
			padding: 0 20px;
			width: 214px;

			&::after {
				position: absolute;
				bottom: -22px;
				left: 22px;
				width: 14px;
				height: 2px;
				background-color: #101010;
				content: '';
			}

			.title_main {
				@include mixin.font('2.4rem / 3.4rem' left);
				margin: 0;

				+.title_sub{
					margin-top: -1px
				}
			}

			.title_sub {
				@include mixin.font('1.7rem / 2.3rem' left);
				margin: 0;
			}
		}

		&-inner {
			overflow: hidden;
			margin: 0 -10px;
		}

		&-list {
			display: inline-block;
			@include mixin.font('0', nowrap);
		}

		&-item {
			display: inline-block;
			padding: 0 10px;
			width: 214px;
			white-space: normal;
		}

		&-control {
			button {
				position: absolute;
				z-index: 3;
				top: 70px;
				width: 28px;
				height: 54px;
				background-color: #fff;
				text-align: center;

				&:disabled {
					background-color: rgba(#fff, 0.54);

					> i::before {
						background-color: #101010;
					}
				}
			}

			.btn_slider-prev {
				left: 214px;
				padding-right: 10px;
				border-radius: 0 30px 30px 0;

				i::before {
					width: 8px;
					height: 17px;
					@include mixin.svg(const.$color_text_base url('../image/block/common/ico_arrow_left.svg'));
				}
			}

			.btn_slider-next {
				right: 0;
				padding-left: 8px;
				border-radius: 30px 0 0 30px;

				i::before {
					width: 8px;
					height: 17px;
					@include mixin.svg(const.$color_text_base url('../image/block/common/ico_arrow_right.svg'));
				}
			}
		}
	}
}