@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="p_s=w6Xh6_s3"] {
	width: const.$grid_pc_column * 6 + const.$grid_pc_column_gutter * (6 - 1);

	> .mui_container {
		height: const.$grid_pc_row * 6 + const.$grid_pc_row_gutter * (6 - 1);
	}

	.mui_slider {
		overflow: hidden;
		position: relative;
		padding: 0 48px;

		&-inner {
			overflow: hidden;
		}

		&-list {
			display: inline-block;
			@include mixin.font('0', nowrap);
		}

		&-item {
			display: inline-block;
			padding: 0 10px;
			width: 214px;
			white-space: normal;

			&:first-child {
				margin-left: -10px;
			}

			&:last-child {
				margin-right: -10px;
			}
		}

		&-control {
			button {
				position: absolute;
				z-index: 3;
				top: 173px;
				width: 40px;
				height: 50px;

				&:disabled {
					> i::before {
						background-color: #cdcdcd;
					}
				}
			}

			.btn_slider-prev {
				left: -10px;

				i::before {
					width: 19px;
					height: 37px;
					@include mixin.svg(#999 url('../image/block/common/ico_arrow_thinner_left.svg'));
				}
			}

			.btn_slider-next {
				right: -11px;

				i::before {
					width: 19px;
					height: 37px;
					@include mixin.svg(#999 url('../image/block/common/ico_arrow_thinner_right.svg'));
				}
			}
		}
	}
}