@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 블록
 * 배너
**/


[data-mui="tp_nn=w12Xh20_s15"] {
	width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);

	// 탭메뉴
	.mui_tab_menu {
		margin-bottom: 22px;

		ul {
			margin: -10px 0 0 -10px;

			li {
				float: left;
				margin: 10px 0 0 10px;
			}
		}

		.btn_tab {
			padding: 18px 24px;
			border: 1px solid #e6e6e6;
			border-radius: 3px;
			@include mixin.font(#4a4a4a '1.7rem/2rem');

			&#{escape('.S=tab-on')} {
				border-color: #1f1f1f;
				color: #1f1f1f;
			}
		}
	}

	// 상품
	.mui_product-list {
		> ul {
			display: grid;
			grid-template-columns: repeat(5, 256px);
			gap: 54px 20px;

			&::after {
				content: none;
			}
		}
	}
}