@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_c=w6Xh8_s1"] {
	.mui_carousel {
		&-list {
			padding-top: 104.78723%;
		}
	}

	a {
		display: block;
		position: relative;
	}

	figure {
		padding-bottom: 60px;

		.image_banner {
			padding-top: 104.78723%;
			width: 100%;
		}

		figcaption {
			position: absolute;
			z-index: 1;
			right: 14px;
			bottom: 0;
			left: 0;
			padding: 22px 20px 39px;
			min-height: 160px;
			background-color: #fff;
			@include mixin.font(#000 '2rem/2.6rem');

			.text_banner1,
			.text_banner2 {
				+ .text_banner3,
				+ .text_banner4 {
					margin-top: 9px;
				}
			}

			.text_banner3,
			.text_banner4 {
				@include mixin.font('1.4rem/1.9rem');
			}

			.uico_link {
				position: absolute;
				bottom: 18px;
				left: 20px;
				width: 20px;
				border-bottom: 1px solid #6a6a6a;

				&::before {
					position: absolute;
					right: -4px;
					bottom: 1px;
					width: 8px;
					height: 8px;
					border-left: 1px solid #6a6a6a;
					content: '';
					@include mixin.transform(rotate(-45deg));
				}
			}

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem');

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			background-color: #f5f5f5;
		}
	}
}