@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_c=w6Xh2_s1_3"] {
	.mui_carousel {
		&-list {
			padding-top: 25%;
		}

		&-pagination {
			bottom: -9px;
			@include mixin.transform(translate(-50%, 100%));

			li:nth-child(n+2) {
				margin-left: 8px;
			}

			button {
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background-color: rgba(#101010, 0.27);

				&#{function.escape('.S=on')} {
					background-color: #101010;
				}
			}
		}
	}

	a {
		display: block;
		position: relative;
	}

	figure {
		.image_banner {
			padding-top: 25%;
			width: 100%;
		}

		figcaption {
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 20px;
			left: 20px;
			margin-top: 1px;
			padding: 0 24px;
			@include mixin.font(#fff '1.6rem/1.4');
			@include mixin.transform(translateY(-50%));

			&#{function.escape('.T=text-black')} {
				color: #000;
			}

			.text_banner1 {
				+ .text_banner2 {
					margin-top: 4px;
				}
			}

			.text_banner2 {
				@include mixin.font(400 '1.3rem');
			}

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem');

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			background-color: #f5f5f5;
		}
	}
}