@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_c=w6Xh9_s1"] {
	.mui_carousel {
		padding: 0 14px;

		&-pagination {
			bottom: -34px;

			li:nth-child(n+2) {
				margin-left: 4px;
			}

			button {
				width: 4px;
				height: 4px;
				border-radius: 2px;
				background-color: rgba(#000, 0.5);
				@include mixin.transition(width const.$time_fast, opacity const.$time_fast);

				&#{function.escape('.S=on')} {
					width: 38px;
					background-color: #101010;
				}
			}
		}
	}

	a {
		display: block;
		position: relative;
	}

	figure {
		.image_banner {
			padding-top: 100%;
			width: 100%;
		}

		figcaption {
			position: relative;
			margin-top: 13px;
			padding: 0 20px 46px 2px;

			.text_banner1 {
				@include mixin.font('1.6rem/2.4rem');

				+ .text_banner2 {
					margin-top: 4px;
				}
			}

			.text_banner2 {
				@include mixin.font(#4a4a4a '1.3rem/1.9rem');
			}

			.text_date {
				position: absolute;
				bottom: 0;
				left: 2px;
				@include mixin.font(#a3a3a3'1.3rem/1.9rem');
			}

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem');

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			position: relative;
			background-color: #f5f5f5;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50%;
				height: 50%;
				@include mixin.transform(translate(-50%, -50%));
				@include mixin.svg(#d3d3d3 url('../../image/common/logo.svg'));
			}
		}
	}
}