@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_n=w6Xh16_s2_more_1"] {
	ul {
		li:nth-child(n+2) {
			margin-top: 59px;
		}

		li:nth-child(n+3) {
			display: none;
		}
	}

	// 리스트 펼침
	&#{function.escape('.S=switch-on')} {
		> ul {
			> li:nth-child(n+3) {
				display: block;
			}
		}

		.uico_more {
			@include mixin.transform(scale(-1));
		}
	}

	a {
		display: block;
		position: relative;
		padding-left: 48px;
	}

	figure {
		.image_banner {
			padding-top: 65.2439%;
			width: 100%;
		}

		figcaption {
			padding: 17px 20px 0 2px;
			@include mixin.font('2.2rem/3.1rem');

			.text_banner1 {
				position: absolute;
				top: 0;
				left: 0;
				padding-top: 25px;
				@include mixin.font(#cdcdcd 400 '1.5rem/1');
				@include mixin.transform(rotate(270deg) translate(-100%), 0 0);
			}

			.text_banner2 {
				+ .text_banner3 {
					margin-top: 7px;
				}
			}

			.text_banner3 {
				@include mixin.font(#4a4a4a '1.2rem/1.7rem');
			}

			.text_detail {
				margin-top: 25px;
				@include mixin.font(#7b7b7b '1.2rem/1');

				.uico_link {
					margin: 1px 0 0 7px;

					&::before {
						width: 5px;
						height: 9px;
						@include mixin.svg(#7b7b7b url('../../image/block/common/ico_arrow_right.svg'));
					}
				}

				// 이미지 에러 + 문구없음
				&:first-child {
					margin-top: 42px;
				}
			}

			.text_alt {
				@include mixin.text_ellipsis(2);
				position: absolute;
				margin-top: -57px;
				@include mixin.font(#a3a3a3 '1.4rem/2rem');

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 하단 더보기
	.btn_more {
		display: block;
		margin: 49px 14px 0;
		width: calc(100% - (14px * 2));// 100% - 좌우여백
		height: 42px;
		border: 1px solid #2b2b2b;
		border-radius: 21px;
		@include mixin.font(#2b2b2b '1.5rem/4.2rem');

		&::before {
			content: attr(title);
		}

		.uico_more {
			margin: 17px 0 0 10px;

			&::before {
				width: 11px;
				height: 6px;
				@include mixin.svg(#2b2b2b url('../../image/block/common/ico_arrow_down.svg'));
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			position: relative;
			background-color: #f5f5f5;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50%;
				height: 50%;
				@include mixin.transform(translate(-50%, -50%));
				@include mixin.svg(#d3d3d3 url('../../image/common/logo.svg'));
			}
		}
	}
}