@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_n=w6Xh7_s9_1"] {
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 3px 3px;
		padding: 0 14px;

		&::after {
			content: none;
		}
	}

	a {
		display: block;
		position: relative;
	}

	figure {
		.image_banner {
			position: relative;
			padding-top: 100%;
			width: 100%;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				@include mixin.linear-gradient(transparent, 0deg, rgba(#000, 0.3), transparent);
				content: '';
			}
		}

		figcaption {
			position: absolute;
			z-index: 1;
			right: 0;
			bottom: 11px;
			left: 0;
			padding: 0 8px 9px;
			@include mixin.font(#fff '1.5rem/2.1rem');

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem');

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			background-color: #f5f5f5;
		}
	}
}