@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_n=w6Xh17_s6_link"] {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px 12px;
		padding: 0 14px;

		&::after {
			content: none;
		}
	}

	a {
		display: block;
		position: relative;
	}

	figure {
		.image_banner {
			padding-top: 100%;
			width: 100%;
		}

		figcaption {
			padding: 0 10px 0 2px;
			@include mixin.font('1.4rem/2rem');

			> *:first-child {
				margin-top: 13px;
			}

			.text_banner1 {
				+ .text_banner2 {
					margin-top: 6px;
				}
			}

			.text_banner2 {
				@include mixin.font(#4a4a4a '1.3rem/1.9rem');
			}

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem');

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 하단 더보기
	.btn_link {
		display: block;
		margin: 39px auto 0;
		padding: 0 14px;
		width: 77px;
		height: 30px;
		border: 1px solid #6a6a6a;
		border-radius: 15px;
		@include mixin.font(#5c5c5c '1.3rem/3rem');

		.uico_link {
			margin: 9px 0 0 10px;

			&::before {
				width: 4px;
				height: 9px;
				@include mixin.svg(#5c5c5c url('../../image/block/common/ico_arrow_right.svg'));
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			position: relative;
			background-color: #f5f5f5;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50%;
				height: 50%;
				@include mixin.transform(translate(-50%, -50%));
				@include mixin.svg(#d3d3d3 url('../../image/common/logo.svg'));
			}
		}
	}
}