@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 배너
**/


[data-mui="b_n=w6Xh4_s1_3"] {
	a {
		display: block;
		position: relative;
		padding: 0 14px;
	}

	figure {
		.image_banner {
			padding-top: 61.49425%;
			width: 100%;
		}

		figcaption {
			position: absolute;
			z-index: 1;
			right: 0;
			bottom: 11px;
			left: 0;
			padding: 13px 16px;
			background-color: rgba(#000, 0.3);
			@include mixin.font(#fff '1.6rem/1.9rem');

			.text_alt {
				@include mixin.text_ellipsis(2);
				@include mixin.font(#a3a3a3 '1.4rem/2rem' center);

				@include mixin.context-after(':not(.mui_image-none)', 'figure') {
					display: none;
				}
			}
		}
	}

	// 이미지 에러
	.mui_image-none {
		.uico_none {
			background-color: #f5f5f5;
		}
	}
}