@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';
@use '../../helper/var';// sticky 모션 스타일에 사용

/**
 * 블록
 * 카테고리 + 상품
**/


[data-mui="cp_nn=w6Xh24_s6_pagination"] {
	.mui_category {
		position: relative;

		&:not(#{function.escape('.S=category-sticky')}) {
			// 카테고리 펼침
			&#{function.escape('.S=switch-on')} {
				ul {
					li:nth-child(n+11) {
						display: inline-block;
					}
				}

				.btn_toggle {
					.uico_toggle {
						@include mixin.transform(scale(-1));
					}
				}
			}

			&::after {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				border-bottom: 1px solid #e6e6e6;
				content: '';
			}

			ul {
				font-size: 0;

				li {
					display: inline-block;
					width: 20%;
					border: 1px solid rgba(#eee, 0.3);
					border-width: 0 1px 1px 0;

					&:nth-child(5n) {
						border-right: 0;
					}

					&:nth-child(n+11) {
						display: none;
					}

					button {
						position: relative;
						padding: 10px 0 11px;
						width: 100%;
						@include mixin.font(#4a4a4a '1.2rem' center);

						i {
							position: relative;
							width: 45px;
							height: 45px;
							border-radius: 100%;
							background-color: #f5f5f5;

							&.ico_category-all {
								border: 1px solid #cdcdcd;
								background-color: #fff;

								&::before {
									@include mixin.font(700 #1f1f1f '1.4rem/4.3rem');
									content: 'ALL';
								}
							}
						}

						b {
							display: block;
							@include mixin.text-ellipsis(1);
							padding: 4px 3px 0;
						}

						&#{function.escape('.S=category-on')} {
							color: #1f1f1f;

							i::after {
								position: absolute;
								top: -1px;
								right: -1px;
								bottom: -1px;
								left: -1px;
								border: 2px solid #1f1f1f;
								border-radius: 100%;
								content: '';
							}
						}
					}
				}
			}

			.btn_toggle {
				position: absolute;
				right: 0;
				bottom: 0;
				padding: 10px 0 15px;
				width: 20%;
				background-color: #fff;

				.uico_toggle {
					padding: 14px 0 0 1px;
					width: 45px;
					height: 45px;
					border-radius: 100%;
					background-color: #f5f5f5;

					&::before {
						width: 16px;
						height: 18px;
						@include mixin.svg(#999 url('../../image/block/common/ico_arrow_down.svg'));
					}
				}

				&::after {
					display: block;
					padding-top: 5px;
					@include mixin.font(#4a4a4a '1.2rem');
					content: attr(title);
				}
			}
		}

		// 스크롤 시 상단고정
		&#{function.escape('.S=category-sticky')} {
			&::before {
				border-bottom-color: rgba(#eee, 0.3);
			}

			.mui_category-list {
				overflow-x: auto;
				overflow-y: hidden;
				@include mixin.prefix(box-shadow, 0 2px 14px 0 rgba(#000, 0.18), webkit);
				position: fixed;
				z-index: #{const.$zIndex_floating - 1}; // 스티키 모션이 헤더 floating 아래로 들어가기 위해 -1 추가
				top: 0;
				right: 0;
				left: 0;
				height: 50px;
				background-color: #fff;

				// 메인 레이아웃 sticky 스타일
				#{function.escape('.L=main')} & {
					@include mixin.transform(translateY(var.$header_height_main + var.$gnb_height_base));
				}

				#{function.escape('.L=main.S=hide')} & {
					@include mixin.transform(translateY(var.$gnb_height_base));
				}

				 // 그외 레이아웃 sticky 스타일
				:root:not(#{function.escape('.L=main')}) & {
					@include mixin.transform(translateY(var.$header_height_base));
				}

				#{function.escape('.S=hide')}:not(#{function.escape('.L=main')}) & {
					@include mixin.transform(translateY(0));
				}
			}

			ul {
				display: inline-block;
				padding: 0 5px;
				font-size: 0;
				white-space: nowrap;

				li {
					display: inline-block;
					text-align: center;

					button {
						padding: 0 10px;
						width: 100%;
						height: 50px;

						b {
							position: relative;
							@include mixin.font(#4a4a4a '1.4rem/4.9rem');
						}

						&#{function.escape('.S=category-on')} {
							b::after {
								position: absolute;
								right: 0;
								bottom: 0;
								left: 0;
								border-bottom: 3px solid #1f1f1f;
								content: '';
							}
						}

						> i {
							display: none;
						}
					}
				}
			}

			.btn_toggle {
				display: none;
			}
		}
	}

	.mui_product-list {
		margin-top: 16px;
		padding: 0 14px;

		> ul {
			> li:nth-child(n+2) {
				margin-top: 8px;
			}
		}
	}

	.mui_product-item {
		figure {
			.image_product {
				position: relative;
				padding-top: 0;
				width: 54.02298%;

				&::after {
					padding-top: var.$prod_height_base;
					content: '';
				}
			}

			figcaption {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				margin: 0 0 0 54.02298%;
				padding: 3px 15px 0 12px;

				> *:first-child {
					margin-top: 0;
					padding-top: 0;
				}

				.text_sale {
					right: 0;
				}

				.mui_product-item-react {
					.text_like {
						.uico_like::before {
							margin-top: 1px;
						}
					}
				}
			}
		}

		// MY찜에추가하기
		.btn_like {
			top: auto;
			right: 54.02298%;
			bottom: 0;
			margin-top: 0;
			@include mixin.transform(translate(100%, 0));
		}

		// soldout
		.text_soldout {
			width: 54.02298%;
		}

		// 미성년자 구매불가
		.text_adult {
			width: 54.02298%;
			padding-top: 0;

			&::after {
				padding-top: var.$prod_height_base;
				content: '';
			}
		}
	}

	// 하단 페이지네이션
	.mui_pagination {
		$pagination_height_base: 28px;

		margin-top: 26px;
		text-align: center;

		.mui_inline {
			position: relative;
		}

		li {
			float: left;

			> button {
				display: block;
				padding: 0 16px;
				height: $pagination_height_base;
				@include mixin.font(#b8b8b9 '1.7rem/#{$pagination_height_base}' center, 0);

				&#{function.escape('.S=page-on')} {
					@include mixin.font(#1f1f1f 700);
				}
			}
		}

		[class*="btn_control"] {
			position: absolute;
			top: 0;
			width: $pagination_height_base;
			height: $pagination_height_base;
			border: 1px solid #767676;
			border-radius: 2px;
			background-color: #fff;

			$pages: (first, double_left, 10px), (prev, left, 6px), (next, right, 6px), (last, double_right, 10px);
			@each $page, $icon, $width in $pages {
				[class*="uico_page-#{$page}"] {
					&::before {
						width: $width;
						height: 11px;
						@include mixin.svg(#6a6a6a url('../../image/block/common/ico_arrow_#{$icon}.svg'));
						content: '';
					}
				}
			}

			// 버튼 위치
			&.btn_control- {
				// 처음
				&first {
					left: -($pagination_height_base * 3 - 12px) - 7px;
				}

				// 이전
				&prev {
					left: -($pagination_height_base * 2 - 12px);

					i {
						margin-right: 1px;
					}
				}

				// 다음
				&next {
					right: -($pagination_height_base * 2 - 12px);

					i {
						margin-left: 1px;
					}
				}

				// 마지막
				&last {
					right: -($pagination_height_base * 3 - 12px) - 7px;
				}
			}

			// 버튼 비활성
			&[disabled] {
				border-color: #dcdcdc;

				[class*="uico_page"]::before {
					background-color: #dcdcdc;
				}
			}
		}
	}
}