@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';
@use '../../helper/var';

/**
 * 블록
 * 배너
**/


[data-mui="p_n=w6Xh15_s4_pagination"] {
	.mui_product-list {
		padding: 0 14px;

		> ul {
			> li:nth-child(n+2) {
				margin-top: 8px;
			}
		}
	}

	.mui_product-item {
		figure {
			.image_product {
				position: relative;
				padding-top: 0;
				width: 54.02298%;

				&::after {
					padding-top: var.$prod_height_base;
					content: '';
				}
			}

			figcaption {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				margin: 0 0 0 54.02298%;
				padding: 3px 15px 0 12px;

				> *:first-child {
					margin-top: 0;
					padding-top: 0;
				}

				.text_sale {
					right: 0;
				}

				.mui_product-item-react {
					.text_like {
						.uico_like::before {
							margin-top: 1px;
						}
					}
				}
			}
		}

		// MY찜에추가하기
		.btn_like {
			top: auto;
			right: 54.02298%;
			bottom: 0;
			margin-top: 0;
			@include mixin.transform(translate(100%, 0));
		}

		// soldout
		.text_soldout {
			width: 54.02298%;
		}

		// 미성년자 구매불가
		.text_adult {
			width: 54.02298%;
			padding-top: 0;

			&::after {
				padding-top: var.$prod_height_base;
				content: '';
			}
		}
	}

	// 하단 페이지네이션
	.mui_pagination {
		$pagination_height_base: 28px;

		margin-top: 32px;
		text-align: center;

		.mui_inline {
			position: relative;
		}

		li {
			float: left;

			> button {
				display: block;
				padding: 0 16px;
				height: $pagination_height_base;
				@include mixin.font(#b8b8b9 '1.7rem/#{$pagination_height_base}' center, 0);

				&#{function.escape('.S=page-on')} {
					@include mixin.font(#1f1f1f 700);
				}
			}
		}

		[class*="btn_control"] {
			position: absolute;
			top: 0;
			width: $pagination_height_base;
			height: $pagination_height_base;
			border: 1px solid #767676;
			border-radius: 2px;
			background-color: #fff;

			$pages: (first, double_left, 11px), (prev, left, 6px), (next, right, 6px), (last, double_right, 11px);
			@each $page, $icon, $width in $pages {
				[class*="uico_page-#{$page}"] {
					&::before {
						margin-top: -1px;
						width: $width;
						height: 11px;
						@include mixin.svg(#767676 url('../../image/block/common/ico_arrow_#{$icon}.svg'));
						content: '';
					}
				}
			}

			// 버튼 위치
			&.btn_control- {
				// 처음
				&first {
					left: -($pagination_height_base * 3 - 12px) - 7px;
				}

				// 이전
				&prev {
					left: -($pagination_height_base * 2 - 12px);
				}

				// 다음
				&next {
					right: -($pagination_height_base * 2 - 12px);
				}

				// 마지막
				&last {
					right: -($pagination_height_base * 3 - 12px) - 7px;
				}
			}

			// 버튼 비활성
			&[disabled] {
				border-color: #dcdcdc;

				[class*="uico_page"]::before {
					background-color: #dcdcdc;
				}
			}
		}
	}
}