@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/const';

/**
 * 블록
 * 탭 + 배너
**/


[data-mui="tb_sn=w6Xh18_s6_more_1"] {
	.mui_tab {
		padding: 0 14px;

		// 탭메뉴
		&_menu {
			margin: 0 -14px 5px;

			ul {
				display: inline-block;
				padding: 0 10px;
				@include mixin.font('0', nowrap);

				li {
					display: inline-block;

					&:nth-child(n+2) {
						margin-left: 15px;
					}
				}
			}

			.btn_tab {
				position: relative;
				padding: 7px 4px;
				@include mixin.font(#d5d5d5 700 '1.4rem/1.8rem');

				&#{function.escape('.S=tab-on')} {
					color: #1f1f1f;

					&::before {
						position: absolute;
						top: 0;
						left: 50%;
						margin-left: -1px;
						width: 5px;
						height: 5px;
						border-radius: 100%;
						background-color: #1f1f1f;
						content: '';
					}
				}
			}
		}

		// 탭컨텐츠
		&-item {
			> ul {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 25px 12px;

				&::after {
					content: none;
				}

				li:nth-child(n+7) {
					display: none;
				}
			}

			// 리스트 펼침
			&#{function.escape('.S=switch-on')} {
				> ul {
					> li:nth-child(n+7) {
						display: block;
					}
				}

				.uico_more {
					@include mixin.transform(scale(-1));
				}
			}

			a {
				display: block;
				position: relative;
			}

			figure {
				.image_banner {
					padding-top: 100%;
					width: 100%;
				}

				figcaption {
					position: relative;
					margin-top: 13px;
					padding: 0 10px 0 2px;

					.text_banner1 {
						@include mixin.font('1.4rem/2rem');

						+ .text_banner2 {
							margin-top: 6px;
						}
					}

					.text_banner2 {
						@include mixin.font(#4a4a4a '1.3rem/1.9rem');
					}

					.text_alt {
						@include mixin.text_ellipsis(2);
						@include mixin.font(#a3a3a3 '1.4rem/2rem');

						@include mixin.context-after(':not(.mui_image-none)', 'figure') {
							display: none;
						}
					}
				}
			}

			// 하단 더보기
			.btn_more {
				display: block;
				margin-top: 38px;
				width: 100%;
				height: 42px;
				border: 1px solid #2b2b2b;
				border-radius: 21px;
				@include mixin.font(#2b2b2b '1.5rem/4.2rem');

				&::before {
					content: attr(title);
				}

				.uico_more {
					margin: 17px 0 0 10px;

					&::before {
						width: 11px;
						height: 6px;
						@include mixin.svg(#2b2b2b url('../../image/block/common/ico_arrow_down.svg'));
					}
				}
			}

			// 이미지 에러
			.mui_image-none {
				.uico_none {
					position: relative;
					background-color: #f5f5f5;

					&::before {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 50%;
						height: 50%;
						@include mixin.transform(translate(-50%, -50%));
						@include mixin.svg(#d3d3d3 url('../../image/common/logo.svg'));
					}
				}
			}
		}
	}
}