@charset 'utf-8';

@use 'sass:math';
@use '../../helper/function';
@use '../../helper/mixin';
@use '../../helper/var';

/**
 * 블록
 * 탭 + 상품
**/


[data-mui="tp_nn=w6Xh21_s6_link"] {
	.mui_tab {
		padding: 0 14px;

		// 탭메뉴
		&_menu {
			overflow: hidden;
			margin-bottom: 14px;

			ul {
				margin: -10px 0 0 -4px;

				li {
					float: left;
					margin: 10px 0 0 4px;
				}
			}

			.btn_tab {
				padding: 0 15px;
				height: 35px;
				border: 1px solid #e6e6e6;
				border-radius: 3px;
				@include mixin.font(#4a4a4a '1.4rem/3.5rem');

				&#{function.escape('.S=tab-on')} {
					border-color: #1f1f1f;
					color: var.$color_text_base;
				}
			}
		}

		// 탭컨텐츠
		&-item {
			.mui_product-list {
				> ul {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-gap: 26px 12px;

					> li {
						min-width: 0;
					}

					&::after {
						content: none;
					}
				}
			}
		}
	}

	// 하단 더보기
	.btn_link {
		display: block;
		margin: 26px auto 0;
		width: 77px;
		height: 30px;
		border: 1px solid #6a6a6a;
		border-radius: 15px;
		@include mixin.font(#5c5c5c '1.3rem/3rem' center);

		.uico_link {
			margin: 10px 0 0 9px;

			&::before {
				width: 5px;
				height: 9px;
				@include mixin.svg(#6a6a6a url('../../image/block/common/ico_arrow_right.svg'));
			}
		}
	}
}